.wrapper {
  /* variables */
  --navbar-width: 25vw;

  /* placement */
  position: absolute;
  top: 0px;
  left: calc(var(--navbar-width) * -1);

  /* shape */
  width: calc(10vw + var(--navbar-width));
  height: 100vh;

  /* color */
  background-color: var(--palette-primary-400);
  color: var(--palette-primary-400-text);
}

.closed {
  
}

.open {
  transform: translateX(var(--navbar-width));
}